<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <h2 class="gal-edit-add">Add a New Gallery</h2>
    
    <div class="container center-align" style="width: 30%">
      <form action="/gallery" method="POST">
        <label>Gallery Name (max 20 char.)</label>
        <input type="text" maxlength="20" name="galleryName">

        <label>Gallery Cover URL (.jpg)</label>
        <input type="text" name="coverImage" value=".jpg">
        
        <label>Gallery Description (max 100 char.)</label>
        <textarea class="materialize-textarea" maxlength="100" name="galleryDescription"></textarea>

        <input class="btn waves-light blue-grey darken-2" type="submit" value="Submit Gallery">
      </form>

</body>
</html>