<nav>
    <div class="nav-wrapper blue-grey darken-2">
      <a href="/" class="brand-logo" style="padding-left: 10px;">500px</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/gallery/new">Add New Gallery</a></li>
        <li><a href="/gallery">My Gallery</a></li>
        <li><a href="">oauth?</a></li>
      </ul>
    </div>
</nav>