<nav>
    <div class="nav-wrapper blue-grey darken-2">
      <a href="/album" class="brand-logo" style="padding-left: 10px;">500px</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/album/new">Add New Album</a></li>
        <li><a href="/album">My Albums</a></li>
        <!-- <li><a href="">oauth?</a></li> -->
      </ul>
    </div>
</nav>