<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <h1>Home Page</h1>
    <!-- <a href="/gallery/">  
        <img src="https://imgur.com/jfSFRUB.png" alt="">
    </a>
    <a href="/gallery/">  
        <img src="https://imgur.com/yDBFrqT.png" alt="">
    </a>
    <a href="/gallery/">  
        <img src="https://imgur.com/ahorBSy.png" alt="">
    </a>
    <a href="/gallery/">  
        <img src="https://imgur.com/e7GOv7R.png" alt="">
    </a> -->
</body>
</html>