<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head.ejs') %>
</head>

<!-- Enter Site -->
<!-- Future Implementation: Login Screen -->

<body id="home-page">
    <div style="border-radius: 5px 5px 5px 5px;">
        <h1 style="margin: 0; padding: 10px 0 10px 0; text-align: center; background-color: rgba(69, 90, 100, 1);">500 px</h1>
        <a href="/album" class="btn waves-effect waves-blue-grey" style="height: 64px; width: 400px; border-radius: 0 0 5px 5px; background-color: rgba(69, 90, 100, 0.7);">
            <p style="font-size: 2rem; margin: 14px 0;">
                Enter Site
            </p>
        </a>
    </div>
</body>
</html>