:root {
    --main-color: #455a64;
    --main-color-light: #607d8b;
    --main-color-lighter: #90a4ae;
}

#home-page {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin: 0; 
    background-image: url('https://imgur.com/DWpgpgM.jpg');
    background-size: cover;
    color: white;
    font-weight: 700;
}

#home-page .waves-effect.waves-blue-grey .waves-ripple {
     background-color: var(--main-color-lighter);
   }

body {
    margin-bottom: 50px;
}

h2 {
    margin-top: 50px;
}

.container {
    width: 95%;
}

.row {
    text-align: center;
}

.gal-edit-add-h2 {
    margin: 50px 0 50px 0;
    text-align: center;
}

.img-container {
    position: relative;
    display: inline-block;
  }

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img-container:hover #cover-img {
    opacity: 0.8;
}

.img-container:hover .overlay {
    opacity: 1;
}

.card {
    transition:transform 0.25s ease;
}

.card:hover {
    z-index: 1;
    -webkit-transform:scale(1.20);
    transform:scale(1.20);
}

.no-scale:hover {
    -webkit-transform:scale(1);
    transform:scale(1);
}

.card-image {
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.card-image img{
    height: 400px;
}

.flow-text {
    font-size: 1.25rem;
    word-wrap: break-word
;}

.delete-btn {
    display: inline-block;
    padding: 5px;
    padding-left: 20px;
}

.edit-btn {
    display: inline-block;
    padding: 5px;
    padding-right: 20px;
}

#toggle-btn {
    margin-left: 20px;
}

#add-img-form {
    transition: all 0.2s ease;
    opacity: 1;

  }

.edit-img {
margin-bottom: 20px;
}

.form-center {
    display:flex;
    justify-content: center;
}

input[type=checkbox].hide-input:checked + #add-img-form {
    height: 0;
    opacity: 0;
}

textarea.materialilze-textarea {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .nav-wrapper {
        line-height: 50px;
    }
    
    #nav-mobile {
        float: none !important;
        display: block !important;
        text-align: center;
        line-height: 25px;
        padding-top: 50px;
    }
    
    #nav-mobile li {
        float: none !important;
        background-color: var(--main-color-lighter);
    }

    #home-page {
        background-size: 350%;
        background-position: 33% 5%;
    }

    h2 {
        margin: 50px 0 10px 0;
    }
    
    .gal-edit-add-h2 {
        margin: 50px 0 20px 0;
    }

    .card-image {
        height: 325px;

    }
    
    .card-image img{
        height: 325px;
    }

    .card .card-content {
        padding: 10px;
    }

    .card:hover {
        -webkit-transform:scale(1);
        transform:scale(1);
    }

    textarea.materialilze-textarea {
        margin: 0;
    }

    #toggle-btn {
        margin-left: 10px;
    }
}